<ul class="slides">
	<li class="hover-background">
		<div class="background-image-holder">
			<img class="background-image" alt="Background Image" src="../img/sitio/nosotros/hero-slider/layer-bg-image-holder.jpg">
		</div>

		<div class="foreground-image-holder layer-1">
			<img class="background-image" alt="Background Image" src="../img/sitio/nosotros/hero-slider/layer-cars.png">
		</div>

		{{!--<div class="foreground-image-holder layer-2">
			<img class="background-image" alt="Background Image" src="../img/sitio/nosotros/hero-slider/layer3.png">
		</div>--}}

		<div class="container vertical-align">
			<div class="row">
				<div class="col-sm-12 text-center">
					<h1 class="text-white">
						<img src="../img/logos/logo-camcar-hor-white-shadow@2x-01.png" alt="">
					</h1>
				</div>
			</div>
		</div><!--end of container-->
	</li>
</ul>
