<div id="ScrollDown"></div>
<section id="stat" class="large-pad about-content black-paper-bg text-white" style="padding: 30px 0 15px;">
	<div class="container">
		<div class="row">
			<div class="col-md-3 col-sm-3 col-xs-6">
				<div class="counter animated hiding" data-animation="fadeInDown" data-delay="0">
					<div class="stat text-center"><span class="value" data-from="0" data-to="16">0</span></div>
					<div class="stat-info text-center">Marcas</div>
				</div>
			</div>
			<div class="col-md-3 col-sm-3 col-xs-6">
				<div class="counter animated hiding" data-animation="fadeInDown" data-delay="500">
					<div class="stat text-center"><span class="value" data-from="0" data-to="34">0</span></div>
					<div class="stat-info text-center">Agencias</div>
				</div>
			</div>
			<div class="col-md-3 col-sm-3 col-xs-6">
				<div class="counter animated hiding" data-animation="fadeInDown" data-delay="1000">
					<div class="stat text-center"><span class="value" data-from="0" data-to="15">0</span></div>
					<div class="stat-info text-center">Ciudades</div>
				</div>
			</div>
			<div class="col-md-3 col-sm-3 col-xs-6">
				<div class="counter animated hiding" data-animation="fadeInDown" data-delay="1500">
					<div class="stat text-center"><span class="value" data-from="0" data-to="1517">0</span></div>
					<div class="stat-info text-center">Profesionales</div>
				</div>
			</div>
		</div><!--end of row-->
	</div><!--end of container-->
</section>
