{{!--<div id="content-agencies-news-map" class="agentia-location no-data-mapa"></div>--}}
<div id="map-canvas-news" class="map-canvas h500"></div>

<a href="{{campa.0.mapas.agngmapurl}}" class="btn btn-default btn_default visible-xs no-data-mapa" title="VIEW MAP" target="_blank">
    <i class="icon icon-geolocalizator"></i>
    <span>VER MAPA</span>
</a>
