<!-- Start Site Header -->
<div class="container container-site sp-cont">
    <!--<div class="search-function">
        <a href="#" class="search-trigger"><i class="fa fa-search"></i></a>
    </div>-->
    <a class="visible-sm visible-xs mobile-toggle" id="menu-toggle">
        {{!--<i class="fa fa-bars"></i>--}}
        <div class="bar-1"></div>
        <div class="bar-2"></div>
    </a>
    <a class="visible-xs-home-link visible-sm visible-xs" href="#">
        <img alt="Logo" class="logo" src="../img/logos/logo_camcar.png" alt="Lincoln Cavsa">
    </a>
    <!-- Main Navigation -->
    <nav class="main-navigation toggle-menu navigation-bar" role="navigation">
        <a class="home-link main-navigator-home-link" href="#">
            <img alt="Logo" class="logo" src="../img/logos/logo_camcar.png" alt="Lincoln Cavsa">
        </a>
        <ul class="sf-menu navigation-bar">
            <li><a id="return_index" class="cur-hover">Inicio</a></li>
            <li><a id="go-agencies-news" class="cur-hover">Agencias</a></li>
            <li class="has-dropdown">
                <a id="sem-agencies" class="cur-hover">Seminuevos</a>
                <ul class="subnav">
                    <li><a id="go-agencies" class="cur-hover">Agencias</a></li>
                    <li><a id="go-inventories" class="cur-hover">Inventarios</a></li>
                </ul>
            </li>
            <li class=""><a id="go-workshop" class="cur-hover">Talleres</a></li>
            <li class=""><a id="go-rental" class="cur-hover">Rentas</a></li>
            <li class=""><a id="go-news" class="cur-hover">Noticias</a></li>
            <li class=""><a id="sem-contact" class="cur-hover">Nosotros</a></li>
            <li class="visible-sm visible-xs visible-xs-poeple"><a href="../login/" id="sem-people-camcar" class="cur-hover">Gente Camcar</a></li>
        </ul>
        <a href="../login/" class="vin_people none-visible-xs" id="sem-people-camcar"><i class="fa fa-user"></i></a>
    </nav>
</div>
<!-- End Start Site Header -->
