<div class="container">
	<div class="row">
		<div class="col-md-5 col-md-offset-1 col-sm-6">
			<h4>CAMCAR Grupo Automotriz</h4>
			<p>
				Es el resultado de un equipo que se adapta al cambio sumando experiencia, fuerza y calidad de servicio adquiridos en 25 años de trabajo y presencia de marcas en el occidente del país.
			</p>
			<p>
				Nacimos con la VISION DE SER LIDER DEL MERCADO al que hoy atendemos con la mayor oferta marcas automotrices.
			</p>
			<p>
				Con 34 excepcionales agencias de autos nuevos, 8 pisos de Seminuevos y 8 talleres especializados; Somos más 1,500 profesionales en 15 Ciudades de 11 Estados:
			</p>
		</div>

		<div class="col-md-5 col-sm-6">
			<p>
				<ul>
					<li>AGUASCALIENTES</li>
					<li>COLIMA (Colima / Manzanillo)</li>
					<li>GUANAJUATO (León)</li>
					<li>JALISCO (Gudadalajara / Puerto Vallarta / Cd. Guzmán)</li>
					<li>MÉXICO, D.F. (Bosques / Interlomas / Santa Fe / Cuajimalpa)</li>
					<li>MICHOACAN (Morelia)</li>
					<li>NAYARIT (Tepic)</li>
					<li>QUERETARO</li>
					<li>ZACATECAS</li>
					<li>QUINTANAROO (Cancún)</li>
					<li>GUERRERO (Acapulco / Ixtapa) U-Save</li>
				</ul>
			</p>
		</div>
	</div><!--end of row-->
</div><!--end of container-->
