.home-link {
	float: left;
}
.home-link .logo {
	height: 52px;
	margin-top: 6px;
}
.main-navigation > ul {
	float: right;
	margin-right: 25px !important;
}
/* BACK TO TOP */
#back-to-top{
	position:fixed;
	right:5%;
	bottom:17px;
	display:none;
	font-size: 2em;
	text-align:center;
	width:40px;
	height:40px;
	line-height:40px;
	-webkit-border-radius:3px;
	border-radius:3px;
	background:rgba(0,0,0,.7);
	color:#ffffff;
	z-index: 1500;
	-webkit-transition: all 1s ease;
	   -moz-transition: all 1s ease;
	    -ms-transition: all 1s ease;
	     -o-transition: all 1s ease;
	        transition: all 1s ease;
}
/* MOBILE TOGGLE */
.mobile-toggle {
  position: absolute;
  right: 0px;
  top: 20px;
  cursor: pointer;
  display: none;
}
.bar-1,
.bar-2,
.bar-3 {
  width: 25px;
  height: 3px;
  background: #333;
  transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
}
.bar-1,
.bar-2,
.bar-3 {
  background: #656461;
  transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
}
.bar-2 {
  position: relative;
  margin-top: 8px;
}
.bar-3 {
  position: relative;
  top: 8px;
  opacity: 0;
}
.mobile-toggle:hover .bar-1 {
  transform: translate3d(0, 2px, 0);
  -webkit-transform: translate3d(0, 2px, 0);
  -moz-transform: translate3d(0, 2px, 0);
  background: #000;
}
.mobile-toggle:hover .bar-2 {
  transform: translate3d(0, -2px, 0);
  -webkit-transform: translate3d(0, -2px, 0);
  -moz-transform: translate3d(0, -2px, 0);
  background: #000;
}
.navigation-bar-header.sticky { position: fixed; top:0; display: block; width: 100%; z-index: 90; }
.sticky-wrapper { margin-top: 0px; height: 90px; z-index: 90; }
.sticky-wrapper-utility-bar, .sticky-wrapper-action-bar { margin-top: 0px; height: auto; z-index: 90; }


.bg-black {
  background: rgba(0,0,0,.7);
}
.color-white {
  color: #fff !important;
}
.pt-0 {padding-top: 0 !important;}
.pb-0 {padding-bottom: 0 !important;}
.p-10 {padding: 10px !important;}

.small-frontpage {
  width: 80%;
}
.go-action-agencie-preowned,
.go-action-agencie-preowned:hover,
.go-action-agencie-preowned:active,
.go-action-agencie-preowned:focus {
  text-decoration: none;
  cursor: pointer;
}



/* SECTIONS */
.section {
    min-height: 350px;
    background-color: #fff;
    padding-bottom: 50px;
    padding-top: 50px;
    overflow: hidden;
    position: relative;
    text-align: center;
}
.sub-section {
    padding-bottom: 25px;
    padding-top: 25px;
    overflow: hidden;
    position: relative;
    text-align: center;
}
.section-stocktaking {
    padding-bottom: 0px;
    padding-top: 0px;
    overflow: hidden;
    position: relative;
    text-align: left;
}
.sub-title { font-size: 20px; }
.section-how-title {
  margin-top: 10px; margin-bottom: 10px;
  font-weight: 100; display: block;
  font-size: 62px;
}
.icon-wrap { font-size: 46px; line-height: 46px; margin-bottom: -10px; }

.pricing-cols{
  border-collapse: collapse;
  display: inline-block;
  margin-bottom: -20px;
  margin-top: 30px;
  width: 100%;
}
.pricing-col{
  border: solid 1px #ddd;
  border-left: none;
  display: inline-block;
  float: left;
  margin-bottom: 10px;
  overflow: hidden;
  padding: 0;
  position: relative;
  text-align: center;
}
.pricing-col:first-child{
  border: solid 1px #ddd;
  border-right: 0;
}
.pricing-col-featured:not(:first-child){
  border: solid 1px #fe4918;
  margin-left: 0px;
}
.pricing-2-cols .pricing-col{
  width: 50%;
}
.pricing-3-cols .pricing-col{
  width: 33.333333%;
}
.pricing-4-cols .pricing-col{
  width: 25%;
}
.pricing-3-col{
  width: 33.333333%;
}
.pricing-table-header{
  padding: 0 18%;
  text-align: center;
}
.pricing-table-header p{
  line-height: 1.5em;
}
.pricing-cols > div{
}
.pricing-col-featured .pricing-col-header .pricing-col-header-amount .pricing-col-amount{
  color: #fe4918;
}
.pricing-col-featured .pricing-ribbon{
  background: #fe4918;
  color: #fff;
  display: inline-block;
  font-size: 20px;
  ms-transform: rotate(45deg);
  padding: 5px 50px;
  position: absolute;
  right: -45px;
  text-align: center;
  top: 10px;
  transform: rotate(45deg);
  webkit-transform: rotate(45deg);
  width: auto;
}
.pricing-col-header .pricing-col-header-title{
  background: #ECECEC;
  font-size: 28px;
  font-weight: 200;
  margin: 0;
  padding: 20px 0;
}
.pricing-col-header .pricing-col-header-amount{
  font-size: 14px;
  line-height: 18px;
  margin: 0 30px;
  padding: 20px 0;
}
.pricing-col-header .pricing-col-header-amount .pricing-col-amount{
  color: #000;
  display: block;
  font-size: 72px;
  line-height: initial;
}
.pricing-col-content{
  font-size: 11pt;
  font-weight: 300;
}
.pricing-col-content ul{
  margin: 0 auto;
  margin-top: 15px;
  padding-left: 0;
  width: 80%;
}
.pricing-col-content ul li{
  border-bottom: solid 1px #ddd;
  list-style: none;
  padding: 15px 0;
}
.pricing-col-content ul li:last-child{
  border-bottom: none;
}
.pricing-col-button{
  background: #25201f;
  color: #ffffff;
  display: block;
  font-size: 35px;
  font-weight: 200;
  margin: 10px 0 0;
  padding: 5px 0 10px;
}
.pricing-col-button:hover{
  background: #4d4645;
  color: #ffffff;
  text-decoration: none;
}
.pricing-col-featured{
  position: relative;
  top: -30px;
}
.pricing-col-featured .pricing-col-header .pricing-col-header-title{
  background-color: #ECECEC;
  color: #000;
  margin-bottom: 30px;
  margin-top: 0;
}
.pricing-col-featured .pricing-col-button{
  background: #fe4918;
  margin: 0;
  margin-top: 25px;
}
.pricing-col-featured .pricing-col-button:hover{
  opacity: 0.9;
}
@media (max-width: 480px) {
  .pricing-col { width: 100% !important; }
}
@media (max-width: 767px) {
  .pricing-col { width: 100% !important; }
  .pricing-col-featured { top: 0; }
}
.actions-bar.tsticky {
  position: fixed;
  top: 92px;
  display: block;
  width: 100%;
  z-index: 900;
}
.utility-bar.utsticky {
  position: fixed;
  top: 52px;
  display: block;
  width: 100%;
  z-index: 900;
}
@media (min-width: 1280px)  {
  div.sem-style-panel-filters {
    margin: 0 auto;
    width: 77%;
    padding: 0;
  }
}


@media (min-width: 320px) {
  .bootstrap-select.form-control.sel-categoria:not([class*="span"]),
  .bootstrap-select.form-control.sel-marca:not([class*="span"]),
  .bootstrap-select.form-control.sel-modelo:not([class*="span"]) {
    width: 272px;
  }
}
@media (min-width: 360px) {
}
@media (min-width: 320px) and (max-width: 575px) {
}
@media (max-width: 640px) {
}
@media (min-width: 480px) and (max-width: 895px) {
  .bootstrap-select.form-control.sel-categoria:not([class*="span"]),
  .bootstrap-select.form-control.sel-marca:not([class*="span"]),
  .bootstrap-select.form-control.sel-modelo:not([class*="span"]) {
    width: 407px;
  }
}
@media (min-width: 640px) and (max-width: 1055px) {
  .bootstrap-select.form-control.sel-categoria:not([class*="span"]),
  .bootstrap-select.form-control.sel-marca:not([class*="span"]),
  .bootstrap-select.form-control.sel-modelo:not([class*="span"]) {
    width: 544px;
  }
}
@media (min-width: 768px) and (max-width: 1174px) and (min-width: 768px) and (max-width: 1079px)  {
  .bootstrap-select.form-control.sel-categoria:not([class*="span"]),
  .bootstrap-select.form-control.sel-marca:not([class*="span"]),
  .bootstrap-select.form-control.sel-modelo:not([class*="span"]) {
    width: 200px;
  }
}
@media (min-width: 1024px) {
  .bootstrap-select.form-control.sel-categoria:not([class*="span"]),
  .bootstrap-select.form-control.sel-marca:not([class*="span"]),
  .bootstrap-select.form-control.sel-modelo:not([class*="span"]) {
    width: 270px;
  }
}
@media (min-width: 1366px)  {
}
@media (min-width: 1280px)  {
}
#content-select-category,
#content-select-marc,
#content-select-model {
    display: inline-block;
    vertical-align: middle;
}
.bootstrap-select.form-control.sel-categoria,
.bootstrap-select.form-control.sel-marca,
.bootstrap-select.form-control.sel-modelo {
  margin-bottom: 0 !important;
}
