#hero{
	background: url('../../img/header-bg.jpg') center center no-repeat;
	background-attachment: fixed;
	background-size: cover;
	min-height: 500px;
	moz-background-size: cover;
	o-background-size: cover;
	overflow: hidden;
	position: relative;
	webkit-background-size: cover;
}
#hero .btn-3d{
	margin: 0px 25px 0px 0px;
	padding: 10px 27px 10px 17px;
}
#hero .container{
	position: static;
}
#hero .hero-big.hero-big-line-height {
    line-height: 0.854em;
}
#hero .hero-big{
	font-size: 100pt;
	line-height: 100px;
	margin-bottom: 25px;
	text-transform: uppercase;
}
#hero .hero-content{
	left: 0;
	margin-top: -195px;
	position: absolute;
	right: 0;
	top: 50%;
}
#hero .hero-normal{
	font-size: 22pt;
	margin: 15px 0px 40px 0px;
}
#hero .hero-small .sep{
	display: inline-block;
	width: 15px;
}
#hero .hero-small span{
	display: inline-block;
	font-size: 18pt;
	font-weight: 300;
	margin: 0 20px 15px;
	position: relative;
	top: -12px;
}
#hero .hero-small span.fa{
	font-size: 20pt;
	margin: 0px 10px 0px 0px;
	top: -3px;
}
#hero hr{
	border: 0;
	border-top: 1px solid #FFF;
	display: inline-block;
	width: 11%;
}
.active .icon-docs{
	background: url('../img/icons/icon-docs-active.png');
}
.btn{
	background: transparent;
	border: 1px solid #ddd;
	border-radius: 0;
}
.btn,
.hero-txt,
.navigation,
.nav-tabs li a{
	font-family: 'Roboto', sans-serif;
	font-style: normal;
	font-weight: 200;
}
.btn:hover{
	opacity: 1;
}
.btn-3d{
	font-size: 22px;
	padding-bottom: 9px;
	padding-left: 15px;
	padding-right: 30px;
	padding-top: 9px;
}
.btn-3d{
	background: #b21117;
	border: 1px solid transparent;
	border-bottom: 5px solid #e62117;
	border-radius: 4px;
	color: #fff;
	-webkit-transition: all 0.3s ease 0.2s;
		-moz-transition: all 0.3s ease 0.2s;
			-ms-transition: all 0.3s ease 0.2s;
				-o-transition: all 0.3s ease 0.2s;
					transition: all 0.3s ease 0.1s;
}
.btn-3d .fa{
	color: #333;
	margin-right: 10px;
	opacity: .4;
	-webkit-transition: all 0.3s ease 0.2s;
		-moz-transition: all 0.3s ease 0.2s;
			-ms-transition: all 0.3s ease 0.2s;
				-o-transition: all 0.3s ease 0.2s;
					transition: all 0.3s ease 0.1s;
}
.btn-3d span{
	position: relative;
	top: -8px;
}
.btn-3d:hover{
	background: #fff;
	border: 1px solid #ddd;
	border-bottom: 5px solid #ddd;
	color: #b21117 !important;
	-webkit-transition: all 0.3s ease 0.2s;
		-moz-transition: all 0.3s ease 0.2s;
			-ms-transition: all 0.3s ease 0.2s;
				-o-transition: all 0.3s ease 0.2s;
					transition: all 0.3s ease 0.1s;
}
.btn-3d:hover .fa{
	color: #b21117;
	opacity: 1;
	-webkit-transition: all 0.3s ease 0.2s;
		-moz-transition: all 0.3s ease 0.2s;
			-ms-transition: all 0.3s ease 0.2s;
				-o-transition: all 0.3s ease 0.2s;
					transition: all 0.3s ease 0.1s;
}
.btn-default{
	background: transparent;
	opacity: 1;
}
.btn-default:active, .btn-default.active, .open .dropdown-toggle.btn-default{
	background-color: #fe4918 !important;
	border-color: #fe4918 !important;
	color: #fff;
}
.btn-default:hover{
	background: #b21117;
	border-color: #b21117;
	color: #fff;
}
.btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .open .dropdown-toggle.btn-default{
	background: #b21117;
	border-color: #b21117;
	color: #fff;
}
.btn-lg{
	font-size: 35px;
	padding: 21px 55px;
}
.btn-lg{
	font-size: 28px;
}
.btn-primary{
	background: #fe4918;
	border-color: #fe4918;
	color: #fff;
	opacity: 1;
}
.btn-primary:active, .btn-primary.active, .open .dropdown-toggle.btn-primary{
	background-color: #f2613a !important;
	border-color: #fe4918 !important;
	color: #fff;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open .dropdown-toggle.btn-primary{
	background: #f2613a;
	border-color: #fe4918;
	color: #fff;
}
.btn-secondary{
	background: #25201f;
	border-color: #4d4645;
	color: #fff;
	opacity: 1;
}
.btn-secondary:hover{
	background: #4d4645;
	border-color: #4d4645;
	color: #fff;
}
.btn-sm{
	font-size: 20px !important;
	padding: 17px 43px;
}
.btn-tertiary{
	background: transparent;
	opacity: 1;
}
.btn-tertiary:hover{
	background: #fff;
	border-color: #fff;
	color: #fe4918 !important;
}
.btn-xs{
	font-size: 18px;
	padding: 13px 35px;
}
.color .btn-3d{
	background: #fff;
	border-color: #ddd;
	color: #fe4918 !important;
}
.color .btn-3d .fa{
	color: #fe4918 !important;
}
.color .btn-default{
	background: transparent;
	border-color: #fff;
	color: #fff;
	opacity: 1;
}
.color .btn-default:hover{
	background: #fff;
	border-color: #fff;
	color: #fe4918;
}
.hero-big{
	font-family: 'Ubuntu', sans-serif;
}
.icon{
	background-repeat: no-repeat;
	display: inline-block;
	overflow: hidden;
}
.icon-active{
	color: #fe4918;
}
.icon-docs{
	background: url('../img/icons/icon-docs.png');
	height: 90px;
	margin-right: 15px;
	width: 90px;
}
.icon-light{
	color: #fff;
}
.light{
	color: #fff;
}
.light .btn{
	color: #fff;
}
.navigation{
	margin-left: -15px;
	margin-right: -15px;
}
.navigation-bar{
	display: table;
	list-style: none;
	margin: 0 auto;
	padding: 0;
	text-align: left;
}
.navigation-bar > li{
	display: inline-block;
	padding-bottom: 0px;
	padding-top: 0px;
}
.navigation-bar > li a{
	color: #fff;
	display: inline-block;
	font-size: 18px;
	padding-bottom: 10px;
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 10px;
}
.navigation-bar > li a:hover,
.navigation-bar > li a.active{
	color: #b21117;
	text-decoration: none;
}
.navigation-bar > li.active a{
	color: #b21117;
}
.navigation-bar > li.featured{
	moz-transition: all .5s linear;
	opacity: 0;
	transition: all .5s linear;
	webkit-transition: all .5s linear;
}
.navigation-bar > li.featured{
	float: right;
	margin-right: 25px;
	padding-bottom: 22px;
	padding-top: 22px;
}
.navigation-bar > li.featured a{
	background: #fe4918;
	font-size: 14px;
	margin-left: 15px;
	outline: 1px solid #fe4918;
	padding-left: 10px;
	padding-right: 15px;
	text-decoration: none;
}
.navigation-bar > li.featured a:hover{
	background: #fe4918;
	color: #fff;
	outline: 1px solid #fe4918;
}
.navigation-bar > li.featured i{
	padding-right: 10px;
}
.navigation-bar:after{
	clear: both;
	content: '';
}
.navigation-bar-header{
	background: rgba(37, 37, 37, 1);
	position: relative;
	z-index: 1;
}
.navigation-bar-header.sticky{
	display: block;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 9;
}
.navigation-bar-left{
	float: left;
	width: 100%;
}
.navigation-bar-right{
	float: right;
}
.navigation-social{
	position: relative;
	z-index: 100;
}
.navigation-social li{
	padding-bottom: 15px;
	padding-top: 45px;
}
.navigation-social li a{
	font-size: 15pt;
	padding-left: 20px;
	padding-right: 20px;
}
.sticky .navigation-bar > li.featured{
	opacity: 1;
}
.sticky-wrapper{
	height: 90px;
	margin-top: 0px;
}
body,
li.featured a{
	font-family: 'Roboto', sans-serif;
	font-style: normal;
	font-weight: 100;
}
strong{
	font-family: 'Roboto', sans-serif;
	font-style: normal;
	font-weight: 400;
}


/* responsive */
@media (max-width: 480px){
	#hero .btn-3d{
		margin: 0px 0px 15px 0px;
	}
	#hero .hero-big{
		font-size: 50px !important;
		line-height: 70px;
		margin-top: 10px;
	}
	#hero .hero-content{
		top: 57%;
	}
	#hero .hero-normal{
		font-size: 18pt;
		margin: 0px 0px 20px 0px;
	}
	#hero .hero-small span{
		margin: 0 !important;
	}
	#hero hr{
		display: block;
		margin-bottom: 5px;
		margin-top: 5px;
		width: 85%;
	}
	.navigation-social li{
		padding-top: 40px;
	}
	.navigation-social li a{
		padding-left: 12px;
		padding-right: 12px;
	}
	#hero .hero-small .sep {
		display: block;
	    margin: 5px auto 5px;
	}

	.video-strip h2 {
		margin: 35px 24px !important;
	}
	.video-strip:hover .pre-video i {
	    transform: translate3d(0px, -8px, 0) !important;
	    -webkit-transform: translate3d(0px, -8px, 0) !important;
	    -moz-transform: translate3d(0px, -8px, 0) !important;
	    opacity: 1;
	}
	.video-strip:hover h2 {
	    transform: translate3d(0px, 8px, 0) !important;
	    -webkit-transform: translate3d(0px, 8px, 0) !important;
	    -moz-transform: translate3d(0px, 8px, 0) !important;
	}
}
@media (max-width: 767px){
	#hero{
		padding-top: 2%;
	}
	#hero .btn-3d{
		margin: 0px 0px 15px 0px;
	}
	#hero .hero-big{
		font-size: 80px;
		line-height: 70px;
		margin-bottom: 0px;
		margin-top: 10px;
		text-transform: uppercase;
	}
	#hero .hero-small span{
		display: inline-block;
		font-size: 25px;
		margin: 0 40px 40px;
		position: relative;
		top: 0px;
	}
	.navigation-bar > li.featured a{
		margin-left: 0;
	}
}
@media (max-width: 991px) and (min-width: 768px){
	#hero .hero-big{
		font-size: 130px;
	}
	.navigation-bar-header .navigation-bar > li a{
		font-size: 16px;
		padding-left: 5px;
		padding-right: 5px;
	}
}
@media (min-width: 1200px){
}
@media (min-width: 992px){
}
