body {
  font-family: Helvetica, Arial, sans-serif;
}
.nav-content {
  width: 100%;
  z-index: 99;
  transition: all 0.7s ease;
  -webkit-transition: all 0.7s ease;
  -moz-transition: all 0.7s ease;
  max-width: 1580px;
  margin: 0 auto;
}
.about-content {
  width: 100%;
  z-index: 1;
  transition: all 0.7s ease;
  -webkit-transition: all 0.7s ease;
  -moz-transition: all 0.7s ease;
  max-width: 1580px;
  margin: 0 auto;
}
.home-link {
  float: left;
}
.home-link .logo {
  height: 55px;
  margin: 5px auto;
}
@media (min-width: 320px) {
  .visible-xs-home-link {
    width: 50%;
  }
}
.main-navigation > ul {
  float: right;
  padding: 0px !important;
  margin: 6px auto;
  max-width: 100%;
}
.main-navigation > ul li a.cur-hover {
  cursor: pointer;
}

.vin_logout {
  right:2%;
  top:13px;
}
.vin_people {
  right:-3%;
  top:13px;
}
.vin_logout,
.vin_people {
  position:absolute;
  display:block;
  text-align:center;
  width:40px;
  height:40px;
  line-height:40px;
  -webkit-border-radius:0px;
  border-radius:0px;
  background:rgba(178, 17, 23, 0.5) !important;
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.5);
  outline: thin solid rgba(178, 17, 23,0);
  color:#ffffff;
  z-index: 1500;
  -webkit-transition: all 1s ease;
     -moz-transition: all 1s ease;
      -ms-transition: all 1s ease;
       -o-transition: all 1s ease;
          transition: all 1s ease;
}
.vin_logout:hover,
.vin_people:hover {
  background: rgba(178, 17, 23, 1) !important;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
  outline: thin solid rgba(178, 17, 23,0);
  -webkit-transition: all 1s ease;
     -moz-transition: all 1s ease;
      -ms-transition: all 1s ease;
       -o-transition: all 1s ease;
          transition: all 1s ease;
}
.vin_logout i,
.vin_people i {
  margin-top: 0px;
  font-size: 2em;
  color: rgba(255,255,255,0.8);
  -webkit-transition: all 1s ease;
     -moz-transition: all 1s ease;
      -ms-transition: all 1s ease;
       -o-transition: all 1s ease;
          transition: all 1s ease;
}
.vin_logout:hover i,
.vin_people:hover i {
  color: rgba(255,255,255,1);
  -webkit-transition: all 1s ease;
     -moz-transition: all 1s ease;
      -ms-transition: all 1s ease;
       -o-transition: all 1s ease;
          transition: all 1s ease;
}
.vin_logout:before {
  overflow: hidden;
  opacity: 0;
  position: absolute;
  content: 'Cerrar Sesión';
  color: rgba(0,0,0,0);
  font-weight: bold;
  letter-spacing: 1px;
  font-size: 15px;
  text-transform: uppercase;
  top: 13px;
  right: 47px;
  width: 150px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  background: rgba(255,255,255,0);
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0);
  outline: thin solid rgba(0,0,0,0);
  line-height: 25px;
  -webkit-transition: all 1s ease;
     -moz-transition: all 1s ease;
      -ms-transition: all 1s ease;
       -o-transition: all 1s ease;
          transition: all 1s ease;
}
.vin_people:before{
  font-family: "ProximaNovaRegular",Arial,Helvetica,sans-serif;
  line-height: 32px;
  font-size: 0.9em;
  letter-spacing: 1px;
  overflow: hidden;
  opacity: 0;
  position: absolute;
  content: 'Gente Camcar';
  color: rgba(0,0,0,0);
  text-transform: uppercase;
  top: 45px;
  left: -110px;
  min-width: 150px;
  -webkit-border-radius: 0px;
  border-radius: 0px;
  background: rgba(255,255,255,0);
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0);
  outline: thin solid rgba(0,0,0,0);
  z-index: 1;
  -webkit-transition: all 1s ease;
     -moz-transition: all 1s ease;
      -ms-transition: all 1s ease;
       -o-transition: all 1s ease;
          transition: all 1s ease;
}
.vin_logout:hover:before {
  overflow: visible;
  opacity: 1;
  position: absolute;
  content: 'Cerrar Sesión';
  color: #000;
  font-family: "ProximaNovaRegular",Arial,Helvetica,sans-serif;
  line-height: 32px;
  font-size: 0.9em;
  letter-spacing: 1px;
  text-transform: uppercase;
  top: 13px;
  right: 47px;
  width: 150px;
  -webkit-border-radius: 0px;
  border-radius: 0px;
  background: #fff;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
  outline: thin solid rgba(0,0,0,0.1);
  z-index: 0;
}
.vin_people:hover:before{
  overflow: visible;
  opacity: 1;
  position: absolute;
  content: 'Gente Camcar';
  color: #000;
  font-family: "ProximaNovaRegular",Arial,Helvetica,sans-serif;
  line-height: 32px;
  font-size: 0.9em;
  letter-spacing: 1px;
  text-transform: uppercase;
  top: 45px;
  left: -110px;
  min-width: 150px;
  -webkit-border-radius: 0px;
  border-radius: 0px;
  background: #fff;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
  outline: thin solid rgba(0,0,0,0.1);
  z-index: 500;
}
.vin_people:hover:before{
    animation-name: slideDown;
    -webkit-animation-name: slideDown;
    animation-duration: 1s;
    -webkit-animation-duration: 1s;
    animation-timing-function: ease;
    -webkit-animation-timing-function: ease;
    visibility: visible !important;
}

@keyframes slideDown {
    0% {
        transform: translateY(-100%);
    }
    50%{
        transform: translateY(8%);
    }
    65%{
        transform: translateY(-4%);
    }
    80%{
        transform: translateY(4%);
    }
    95%{
        transform: translateY(-2%);
    }
    100% {
        transform: translateY(0%);
    }
}

@-webkit-keyframes slideDown {
    0% {
        -webkit-transform: translateY(-100%);
    }
    50%{
        -webkit-transform: translateY(8%);
    }
    65%{
        -webkit-transform: translateY(-4%);
    }
    80%{
        -webkit-transform: translateY(4%);
    }
    95%{
        -webkit-transform: translateY(-2%);
    }
    100% {
        -webkit-transform: translateY(0%);
    }
}
.none-visible-xs {
  display: block !important;
}