<!-- Panel Aniversarios -->
<div class="panel">
    <div class="panel-heading">
        <h3 class="panel-title">CONVENIOS</h3>
    </div>
    <div class="panel-body">
        <ul class="list-group list-group-dividered list-group-full">
            <li class="list-group-item">
                <small class="label label-round label-info pull-right">Completed</small>
                <p>
                    <span>Server unavaible</span>
                    <span>[13060]</span>
                </p>
                <small>Opened by
                    <a class="hightlight" href="javascript:void(0)">
                        <span class="avatar avatar-xs">
                            <img src="../../img/portraits/default.png" class="avatar-img" alt="">
                        </span>
                        <span>Herman Beck</span>
                    </a>
                    <time datetime="2015-07-01T08:55">2 hours ago</time>
                </small>
            </li>
            <li class="list-group-item">
                <small class="label label-round label-warning pull-right">Pendening</small>
                <p>
                    <span>Mobile App Problem</span>
                    <span>[13061]</span>
                </p>
                <small>Opened by
                    <a class="hightlight" href="javascript:void(0)">
                        <span class="avatar avatar-xs">
                            <img src="../../img/portraits/default.png" class="avatar-img" alt="">
                        </span>
                        <span>Mary Adams</span>
                    </a>
                    <time datetime="2015-07-01T07:55">1 hour ago</time>
                </small>
            </li>
            <li class="list-group-item">
                <small class="label label-round label-primary pull-right">In progress</small>
                <p>
                    <span>IE8 problem</span>
                    <span>[13062]</span>
                </p>
                <small>Opened by
                    <a class="hightlight" href="javascript:void(0)">
                        <span class="avatar avatar-xs">
                            <img src="../../img/portraits/default.png" class="avatar-img" alt="">
                        </span>
                        <span>Caleb Richards</span>
                    </a>
                    <time datetime="2015-06-28T21:05">3 days ago</time>
                </small>
            </li>
            <li class="list-group-item">
                <small class="label label-round label-danger pull-right">Rejected</small>
                <p>
                    <span>Respoonsive problem</span>
                    <span>[13063]</span>
                </p>
                <small>Opened by
                    <a class="hightlight" href="javascript:void(0)">
                        <span class="avatar avatar-xs">
                            <img src="../../img/portraits/default.png" class="avatar-img" alt="">
                        </span>
                        <span>June Lane</span>
                    </a>
                    <time datetime="2015-06-27T13:05">4 days ago</time>
                </small>
            </li>
        </ul>
    </div>
</div>
<!-- End Panel Aniversarios -->
