<!-- Panel Web Perfil -->
<div class="widget widget-shadow">
	<div class="widget-content text-center bg-white padding-40">
		<div class="avatar avatar-100 margin-bottom-20">
			<img src="../../img/portraits/default.png" class="avatar-img" alt="">
		</div>
		<p class="font-size-20 blue-grey-700">Breno Bitencourt</p>
		<p class="blue-grey-400 margin-bottom-20">Web Designer</p>
	</div>
</div>
<!-- End Panel Web Perfil -->
