<!-- Contacts Sidebar -->
      <div class="page-aside-switch">
        <i class="icon wb-chevron-left" aria-hidden="true"></i>
        <i class="icon wb-chevron-right" aria-hidden="true"></i>
      </div>
      <div class="page-aside-inner">
        <div class="page-aside-section">
          <div class="list-group">
            <a class="list-group-item" href="javascript:void(0)">
              <span class="item-right">61</span><i class="icon wb-inbox" aria-hidden="true"></i>All contacts</a>
          </div>
        </div>
        <div class="page-aside-section">
          <h5 class="page-aside-title">LABEL</h5>
          <div class="list-group has-actions">
            <div class="list-group-item">
              <div class="list-content">
                <span class="item-right">10</span>
                <span class="list-text">Work</span>
                <div class="item-actions">
                  <span class="btn btn-pure btn-icon" data-toggle="list-editable"><i class="icon wb-edit" aria-hidden="true"></i></span>
                  <span class="btn btn-pure btn-icon"><i class="icon wb-trash" aria-hidden="true"></i></span>
                </div>
              </div>
              <div class="list-editable">
                <div class="form-group form-material">
                  <input type="text" class="form-control empty" name="label" data-bind=".list-text"
                  value="Work">
                  <button type="button" class="input-editable-close icon wb-close" data-toggle="list-editable-close"
                  aria-label="Close" aria-expanded="true"></button>
                </div>
              </div>
            </div>
            <div class="list-group-item">
              <div class="list-content">
                <span class="item-right">5</span>
                <span class="list-text">Family</span>
                <div class="item-actions">
                  <span class="btn btn-pure btn-icon" data-toggle="list-editable"><i class="icon wb-edit" aria-hidden="true"></i></span>
                  <span class="btn btn-pure btn-icon"><i class="icon wb-trash" aria-hidden="true"></i></span>
                </div>
              </div>
              <div class="list-editable">
                <div class="form-group form-material">
                  <input type="text" class="form-control empty" name="label" data-bind=".list-text"
                  value="Family">
                  <button type="button" class="input-editable-close icon wb-close" data-toggle="list-editable-close"
                  aria-label="Close" aria-expanded="true"></button>
                </div>
              </div>
            </div>
            <div class="list-group-item">
              <div class="list-content">
                <span class="item-right">16</span>
                <span class="list-text">Private</span>
                <div class="item-actions">
                  <span class="btn btn-pure btn-icon" data-toggle="list-editable"><i class="icon wb-edit" aria-hidden="true"></i></span>
                  <span class="btn btn-pure btn-icon"><i class="icon wb-trash" aria-hidden="true"></i></span>
                </div>
              </div>
              <div class="list-editable">
                <div class="form-group form-material">
                  <input type="text" class="form-control empty" name="label" data-bind=".list-text"
                  value="Private">
                  <button type="button" class="input-editable-close icon wb-close" data-toggle="list-editable-close"
                  aria-label="Close" aria-expanded="true"></button>
                </div>
              </div>
            </div>
            <div class="list-group-item">
              <div class="list-content">
                <span class="item-right">30</span>
                <span class="list-text">Friends</span>
                <div class="item-actions">
                  <span class="btn btn-pure btn-icon" data-toggle="list-editable"><i class="icon wb-edit" aria-hidden="true"></i></span>
                  <span class="btn btn-pure btn-icon"><i class="icon wb-trash" aria-hidden="true"></i></span>
                </div>
              </div>
              <div class="list-editable">
                <div class="form-group form-material">
                  <input type="text" class="form-control empty" name="label" data-bind=".list-text"
                  value="Friends">
                  <button type="button" class="input-editable-close icon wb-close" data-toggle="list-editable-close"
                  aria-label="Close" aria-expanded="true"></button>
                </div>
              </div>
            </div>
            <a class="list-group-item" href="javascript:void(0)">
              <i class="icon wb-plus" aria-hidden="true"></i> Add New Label
            </a>
          </div>
        </div>
      </div>
